In [89]:
import numpy as np
import pandas as pd
df=pd.read_csv('alzheimers_prediction_dataset.csv')
df

,Country,Age,Gender,Education Level,BMI,Physical Activity Level,Smoking Status,Alcohol Consumption,Diabetes,Hypertension,...,Dietary Habits,Air Pollution Exposure,Employment Status,Marital Status,Genetic Risk Factor (APOE-ε4 allele),Social Engagement Level,Income Level,Stress Levels,Urban vs Rural Living,Alzheimer’s Diagnosis
0,Spain,90,Male,1,33.0,Medium,Never,Occasionally,No,No,...,Healthy,High,Retired,Single,No,Low,Medium,High,Urban,No
1,Argentina,72,Male,7,29.9,Medium,Former,Never,No,No,...,Healthy,Medium,Unemployed,Widowed,No,High,Low,High,Urban,No
2,South Africa,86,Female,19,22.9,High,Current,Occasionally,No,Yes,...,Average,Medium,Employed,Single,No,Low,Medium,High,Rural,No
3,China,53,Male,17,31.2,Low,Never,Regularly,Yes,No,...,Healthy,Medium,Retired,Single,No,High,Medium,Low,Rural,No
4,Sweden,58,Female,3,30.0,High,Former,Never,Yes,No,...,Unhealthy,High,Employed,Married,No,Low,Medium,High,Rural,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74278,Russia,60,Female,3,22.6,High,Former,Never,No,No,...,Average,High,Unemployed,Widowed,No,Medium,High,Medium,Rural,No
74279,UK,58,Male,18,30.6,Low,Never,Occasionally,Yes,No,...,Average,Medium,Unemployed,Single,No,Medium,High,High,Rural,No
74280,Spain,57,Female,13,28.2,Medium,Never,Regularly,No,No,...,Healthy,Low,Employed,Single,Yes,High,Low,Low,Rural,No
74281,Brazil,73,Female,7,29.0,Low,Never,Regularly,No,No,...,Healthy,Low,Employed,Widowed,No,Low,Low,High,Rural,No
74282,Norway,57,Female,1,31.7,Low,Current,Regularly,No,No,...,Average,Low,Unemployed,Single,No,Low,Medium,Medium,Urban,No

In [90]:
df.head()

,Country,Age,Gender,Education Level,BMI,Physical Activity Level,Smoking Status,Alcohol Consumption,Diabetes,Hypertension,...,Dietary Habits,Air Pollution Exposure,Employment Status,Marital Status,Genetic Risk Factor (APOE-ε4 allele),Social Engagement Level,Income Level,Stress Levels,Urban vs Rural Living,Alzheimer’s Diagnosis
0,Spain,90,Male,1,33.0,Medium,Never,Occasionally,No,No,...,Healthy,High,Retired,Single,No,Low,Medium,High,Urban,No
1,Argentina,72,Male,7,29.9,Medium,Former,Never,No,No,...,Healthy,Medium,Unemployed,Widowed,No,High,Low,High,Urban,No
2,South Africa,86,Female,19,22.9,High,Current,Occasionally,No,Yes,...,Average,Medium,Employed,Single,No,Low,Medium,High,Rural,No
3,China,53,Male,17,31.2,Low,Never,Regularly,Yes,No,...,Healthy,Medium,Retired,Single,No,High,Medium,Low,Rural,No
4,Sweden,58,Female,3,30.0,High,Former,Never,Yes,No,...,Unhealthy,High,Employed,Married,No,Low,Medium,High,Rural,No

In [91]:
df.tail()

,Country,Age,Gender,Education Level,BMI,Physical Activity Level,Smoking Status,Alcohol Consumption,Diabetes,Hypertension,...,Dietary Habits,Air Pollution Exposure,Employment Status,Marital Status,Genetic Risk Factor (APOE-ε4 allele),Social Engagement Level,Income Level,Stress Levels,Urban vs Rural Living,Alzheimer’s Diagnosis
74278,Russia,60,Female,3,22.6,High,Former,Never,No,No,...,Average,High,Unemployed,Widowed,No,Medium,High,Medium,Rural,No
74279,UK,58,Male,18,30.6,Low,Never,Occasionally,Yes,No,...,Average,Medium,Unemployed,Single,No,Medium,High,High,Rural,No
74280,Spain,57,Female,13,28.2,Medium,Never,Regularly,No,No,...,Healthy,Low,Employed,Single,Yes,High,Low,Low,Rural,No
74281,Brazil,73,Female,7,29.0,Low,Never,Regularly,No,No,...,Healthy,Low,Employed,Widowed,No,Low,Low,High,Rural,No
74282,Norway,57,Female,1,31.7,Low,Current,Regularly,No,No,...,Average,Low,Unemployed,Single,No,Low,Medium,Medium,Urban,No

In [92]:
df.columns

Index(['Country', 'Age', 'Gender', 'Education Level', 'BMI',
       'Physical Activity Level', 'Smoking Status', 'Alcohol Consumption',
       'Diabetes', 'Hypertension', 'Cholesterol Level',
       'Family History of Alzheimer’s', 'Cognitive Test Score',
       'Depression Level', 'Sleep Quality', 'Dietary Habits',
       'Air Pollution Exposure', 'Employment Status', 'Marital Status',
       'Genetic Risk Factor (APOE-ε4 allele)', 'Social Engagement Level',
       'Income Level', 'Stress Levels', 'Urban vs Rural Living',
       'Alzheimer’s Diagnosis'],
      dtype='object')

In [93]:
df.shape

(74283, 25)

In [94]:
df.dtypes

Country                                  object
Age                                       int64
Gender                                   object
Education Level                           int64
BMI                                     float64
Physical Activity Level                  object
Smoking Status                           object
Alcohol Consumption                      object
Diabetes                                 object
Hypertension                             object
Cholesterol Level                        object
Family History of Alzheimer’s            object
Cognitive Test Score                      int64
Depression Level                         object
Sleep Quality                            object
Dietary Habits                           object
Air Pollution Exposure                   object
Employment Status                        object
Marital Status                           object
Genetic Risk Factor (APOE-ε4 allele)     object
Social Engagement Level                  object
Income Level                             object
Stress Levels                            object
Urban vs Rural Living                    object
Alzheimer’s Diagnosis                    object
dtype: object

In [95]:
df.isna().sum()

Country                                 0
Age                                     0
Gender                                  0
Education Level                         0
BMI                                     0
Physical Activity Level                 0
Smoking Status                          0
Alcohol Consumption                     0
Diabetes                                0
Hypertension                            0
Cholesterol Level                       0
Family History of Alzheimer’s           0
Cognitive Test Score                    0
Depression Level                        0
Sleep Quality                           0
Dietary Habits                          0
Air Pollution Exposure                  0
Employment Status                       0
Marital Status                          0
Genetic Risk Factor (APOE-ε4 allele)    0
Social Engagement Level                 0
Income Level                            0
Stress Levels                           0
Urban vs Rural Living                   0
Alzheimer’s Diagnosis                   0
dtype: int64

In [96]:
#encoding
from sklearn.preprocessing import LabelEncoder
lab=LabelEncoder()
df['Country']=lab.fit_transform(df['Country'])
df['Gender']=lab.fit_transform(df['Gender'])
df['Physical Activity Level']=lab.fit_transform(df['Physical Activity Level'])
df['Smoking Status']=lab.fit_transform(df['Smoking Status'])
df['Alcohol Consumption']=lab.fit_transform(df['Alcohol Consumption'])
df['Diabetes']=lab.fit_transform(df['Diabetes'])
df['Hypertension']=lab.fit_transform(df['Hypertension'])
df['Cholesterol Level']=lab.fit_transform(df['Cholesterol Level'])
df['Family History of Alzheimer’s']=lab.fit_transform(df['Family History of Alzheimer’s'])
df['Depression Level']=lab.fit_transform(df['Depression Level'])
df['Sleep Quality']=lab.fit_transform(df['Sleep Quality'])
df['Dietary Habits']=lab.fit_transform(df['Dietary Habits'])
df['Air Pollution Exposure']=lab.fit_transform(df['Air Pollution Exposure'])
df['Employment Status']=lab.fit_transform(df['Employment Status'])
df['Marital Status']=lab.fit_transform(df['Marital Status'])
df['Genetic Risk Factor (APOE-ε4 allele)']=lab.fit_transform(df['Genetic Risk Factor (APOE-ε4 allele)'])
df['Social Engagement Level']=lab.fit_transform(df['Social Engagement Level'])
df['Income Level']=lab.fit_transform(df['Income Level'])
df['Stress Levels']=lab.fit_transform(df['Stress Levels'])
df['Urban vs Rural Living']=lab.fit_transform(df['Urban vs Rural Living'])

In [97]:
df

,Country,Age,Gender,Education Level,BMI,Physical Activity Level,Smoking Status,Alcohol Consumption,Diabetes,Hypertension,...,Dietary Habits,Air Pollution Exposure,Employment Status,Marital Status,Genetic Risk Factor (APOE-ε4 allele),Social Engagement Level,Income Level,Stress Levels,Urban vs Rural Living,Alzheimer’s Diagnosis
0,16,90,1,1,33.0,2,2,1,0,0,...,1,0,1,1,0,1,2,0,1,No
1,0,72,1,7,29.9,2,1,0,0,0,...,1,2,2,2,0,0,1,0,1,No
2,14,86,0,19,22.9,0,0,1,0,1,...,0,2,0,1,0,1,2,0,0,No
3,4,53,1,17,31.2,1,2,2,1,0,...,1,2,1,1,0,0,2,1,0,No
4,17,58,0,3,30.0,0,1,0,1,0,...,2,0,0,0,0,1,2,0,0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74278,12,60,0,3,22.6,0,1,0,0,0,...,0,0,2,2,0,2,0,2,0,No
74279,18,58,1,18,30.6,1,2,1,1,0,...,0,2,2,1,0,2,0,0,0,No
74280,16,57,0,13,28.2,2,2,2,0,0,...,1,1,0,1,1,0,1,1,0,No
74281,2,73,0,7,29.0,1,2,2,0,0,...,1,1,0,2,0,1,1,0,0,No
74282,11,57,0,1,31.7,1,0,2,0,0,...,0,1,2,1,0,1,2,2,1,No

In [98]:
x=df.iloc[:,:-1].values
x

array([[16., 90.,  1., ...,  2.,  0.,  1.],
       [ 0., 72.,  1., ...,  1.,  0.,  1.],
       [14., 86.,  0., ...,  2.,  0.,  0.],
       ...,
       [16., 57.,  0., ...,  1.,  1.,  0.],
       [ 2., 73.,  0., ...,  1.,  0.,  0.],
       [11., 57.,  0., ...,  2.,  2.,  1.]], shape=(74283, 24))

In [99]:
y=df.iloc[:,-1].values
y

array(['No', 'No', 'No', ..., 'No', 'No', 'No'],
      shape=(74283,), dtype=object)

In [100]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.30,random_state=0)
x_train

array([[16., 68.,  1., ...,  0.,  2.,  0.],
       [ 3., 83.,  0., ...,  2.,  0.,  0.],
       [19., 59.,  0., ...,  1.,  0.,  1.],
       ...,
       [12., 60.,  0., ...,  0.,  1.,  1.],
       [15., 74.,  0., ...,  2.,  1.,  1.],
       [12., 88.,  1., ...,  0.,  2.,  0.]], shape=(22284, 24))

In [101]:
x_test

array([[15., 71.,  0., ...,  0.,  1.,  1.],
       [ 9., 88.,  1., ...,  2.,  2.,  0.],
       [ 6., 50.,  1., ...,  1.,  0.,  0.],
       ...,
       [12., 54.,  1., ...,  2.,  0.,  1.],
       [ 8., 83.,  0., ...,  1.,  2.,  1.],
       [14., 93.,  1., ...,  2.,  2.,  0.]], shape=(51999, 24))

In [102]:
y_train

array(['Yes', 'Yes', 'Yes', ..., 'No', 'No', 'Yes'],
      shape=(22284,), dtype=object)

In [103]:
y_test

array(['No', 'Yes', 'No', ..., 'No', 'Yes', 'Yes'],
      shape=(51999,), dtype=object)

In [104]:
from sklearn.preprocessing import MinMaxScaler
scalar=MinMaxScaler()
scalar.fit(x_train)
x_train=scalar.transform(x_train)
x_test=scalar.transform(x_test)
x_train

array([[0.84210526, 0.40909091, 1.        , ..., 0.        , 1.        ,
        0.        ],
       [0.15789474, 0.75      , 0.        , ..., 1.        , 0.        ,
        0.        ],
       [1.        , 0.20454545, 0.        , ..., 0.5       , 0.        ,
        1.        ],
       ...,
       [0.63157895, 0.22727273, 0.        , ..., 0.        , 0.5       ,
        1.        ],
       [0.78947368, 0.54545455, 0.        , ..., 1.        , 0.5       ,
        1.        ],
       [0.63157895, 0.86363636, 1.        , ..., 0.        , 1.        ,
        0.        ]], shape=(22284, 24))

In [105]:
from sklearn.svm import SVC
model=SVC()
model.fit(x_train,y_train)
y_pred=model.predict(x_test)
y_pred

array(['No', 'Yes', 'No', ..., 'No', 'Yes', 'Yes'],
      shape=(51999,), dtype=object)

In [106]:
from sklearn.metrics import confusion_matrix,accuracy_score
cm=confusion_matrix(y_test,y_pred)
cm

array([[23698,  6928],
       [ 8244, 13129]])

In [107]:
score=accuracy_score(y_test,y_pred)
score

0.7082251581761188